.fa-arrow-alt-circle-delescted {
  color: #a28cbb;
  font-size: 32px; }

.fa-arrow-alt-circle-selected {
  color: #572292;
  font-size: 32px; }

.discord-login {
  cursor: pointer;
  background: #7289DA;
  text-align: center;
  width: auto;
  border-radius: 0 0 2px 2px;
  position: absolute;
  top: 0px;
  right: 100px;
  padding: 5px;
  font-family: 'helvetica';
  color: white; }

.selected-arrow {
  color: orange;
  text-shadow: 0 0 3px #FF0000; }

.levelLink {
  color: #45A29E; }
  .levelLink:hover {
    color: #66FCF1;
    text-decoration: none; }

.NavButton {
  color: white; }
  .NavButton:hover {
    color: white;
    text-decoration: none; }

.clock-container {
  text-align: center; }

.header-row {
  text-align: center; }

.submission {
  border: 2px;
  border-color: #202368;
  background: #D4D3E1;
  border-radius: 3px;
  margin-bottom: 5px;
  padding: 5px;
  height: 75px;
  text-align: center;
  border-style: solid; }

.submissionsList {
  max-width: 1000px;
  margin: 0 auto; }

.error {
  color: red;
  position: absolute;
  bottom: 10px;
  padding-right: 100px; }

.submit-box {
  width: 450px;
  height: 300px;
  padding: 5px; }

.input-group {
  padding: 5px; }

.Modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  background-color: white;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  color: black;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  border-radius: 5px; }

.modalClose {
  top: 10px;
  right: 10px;
  position: absolute;
  cursor: pointer; }

.timeBox {
  background: #D4D3E1;
  border-radius: 5px;
  height: auto;
  width: auto;
  padding: 5px;
  text-align: center;
  margin: 10px;
  border: 2px #C5C6C7;
  font-size: 50px; }

.pull-right-down {
  right: 10px;
  bottom: 10px;
  position: absolute; }

.first {
  color: #dbcd07 !important;
  font-size: 36px;
  font-weight: 500 !important; }

.second {
  color: #8a9cafd3 !important;
  font-weight: 450 !important;
  font-size: 30px !important; }

.third {
  color: #836f00 !important;
  font-weight: 450 !important;
  font-size: 24px; }

.other {
  color: #212529 !important;
  font-weight: 350 !important;
  font-size: 18px; }
