.checkbox-label {
  display: block;
  position: relative;
  margin: auto;
  cursor: pointer;
  font-size: 22px;
  line-height: 24px;
  height: 24px;
  width: 24px;
  clear: both; }

.checkbox-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer; }

.checkbox-label .checkbox-custom {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 24px;
  width: 24px;
  background-color: transparent;
  border-radius: 5px;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  border: 2px solid #595b7c; }

.checkbox-label input:checked ~ .checkbox-custom {
  background-color: #595b7c;
  border-radius: 5px;
  -webkit-transform: rotate(0deg) scale(1);
  -ms-transform: rotate(0deg) scale(1);
  transform: rotate(0deg) scale(1);
  opacity: 1;
  border: 2px solid #FFFFFF; }

.checkbox-label .checkbox-custom::after {
  position: absolute;
  content: "";
  left: 12px;
  top: 12px;
  height: 0px;
  width: 0px;
  border-radius: 5px;
  border: solid #FFFFFF;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(0deg) scale(0);
  -ms-transform: rotate(0deg) scale(0);
  transform: rotate(0deg) scale(0);
  opacity: 1;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out; }

.checkbox-label input:checked ~ .checkbox-custom::after {
  -webkit-transform: rotate(45deg) scale(1);
  -ms-transform: rotate(45deg) scale(1);
  transform: rotate(45deg) scale(1);
  opacity: 1;
  left: 8px;
  top: 3px;
  width: 6px;
  height: 12px;
  border: solid #FFFFFF;
  border-width: 0 2px 2px 0;
  background-color: transparent;
  border-radius: 0; }

/* For Ripple Effect */
.checkbox-label .checkbox-custom::before {
  position: absolute;
  content: "";
  left: 10px;
  top: 10px;
  width: 0px;
  height: 0px;
  border-radius: 5px;
  border: 2px solid #FFFFFF;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0); }

.checkbox-label input:checked ~ .checkbox-custom::before {
  left: -3px;
  top: -3px;
  width: 24px;
  height: 24px;
  border-radius: 5px;
  -webkit-transform: scale(3);
  -ms-transform: scale(3);
  transform: scale(3);
  opacity: 0;
  z-index: 999;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out; }

.switch-label {
  margin-right: 5px;
  margin-top: 105px; }

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px; }

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0; }

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: grey;
  -webkit-transition: .4s;
  transition: .4s; }

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s; }

input:checked + .slider {
  background-color: #572292; }

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px); }

/* Rounded sliders */
.slider.round {
  border-radius: 34px; }

.slider.round:before {
  border-radius: 50%; }

.light-grey {
  background-color: rgba(0, 0, 0, 0.05); }

.add-level {
  color: #3b40bd;
  cursor: pointer; }

.pull-up {
  position: absolute;
  top: 15px;
  cursor: pointer; }

.spinner-container {
  height: 100px;
  text-align: center;
  padding: 100px; }

.level-modal {
  width: 600px; }

.level-suggest-container {
  padding: 10px;
  max-height: 700px;
  overflow-y: scroll; }

.level-suggest-table {
  padding: 10px;
  width: 100%; }

.modal-container {
  padding: 5px; }

.score-row {
  -webkit-transition: opacity 1.0s ease-in;
  -moz-transition: opacity 1.0s ease-in;
  -o-transition: opacity 1.0s ease-in;
  opacity: 1;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  max-height: 1000px;
  overflow-y: hidden; }

.score-row.hidden {
  opacity: 0;
  max-height: 0;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1); }

.fade-enter {
  opacity: 0.01; }

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in; }

.fade-leave {
  opacity: 1; }

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in; }

.fade-appear {
  opacity: 0.01; }

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in; }

.leaderboard-header {
  text-align: center;
  width: 100%;
  font-size: 25px; }

.megajem {
  background-color: #C928CC;
  color: white; }

.turbojem {
  background-color: #11C9DE;
  color: black; }

.jem {
  background-color: #FFCC00;
  color: black; }

.apprentice {
  background-color: #D9D9D9;
  color: black; }

.submission-nav-row {
  height: 50px; }

.player-row {
  font-weight: 600;
  font-size: 1.2em; }

.contest-list {
  margin: 40px auto 100px auto;
  background-color: white;
  width: 800px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  padding: 10px;
  /* margin: 0px 0px 10px 0px; */ }

.contest-body {
  height: 100%;
  margin: 25px; }

.middle-box {
  padding-top: 30px; }

.flatpickr-input {
  border: 1px solid #ced4da;
  border-radius: 0.25em;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }

.gbtn {
  font-size: 14px;
  padding: 10px 40px;
  border: none;
  border-radius: 5px;
  margin: 25px 10px; }

.levelRow {
  padding-bottom: 10px;
  padding-top: 25px; }

.b1 {
  color: white;
  background-color: #a48cbe;
  font-size: 14px;
  padding: 10px 40px;
  border: none;
  border-radius: 5px;
  /* background-color: #7D6B91; */ }

.b2 {
  color: white;
  background-color: #202368;
  font-size: 14px;
  padding: 10px 40px;
  border: none;
  border-radius: 5px; }

.b3 {
  background-color: #272838;
  color: white;
  font-size: 14px;
  padding: 10px 40px;
  border: none;
  border-radius: 5px; }

.b1:hover {
  background-color: #572292;
  transition: .15s ease-in; }

.b2:hover {
  background-color: #3b40bd;
  transition: .15s ease-in; }

.b3:hover {
  background-color: #595b7c;
  transition: .15s ease-in; }

.invalid {
  border-color: #dc3545 !important; }

.pull-right {
  float: right;
  margin-top: 10px;
  margin-right: 10px; }

.fa-arrow-alt-circle-delescted {
  color: #a28cbb;
  font-size: 32px; }

.fa-arrow-alt-circle-selected {
  color: #572292;
  font-size: 32px; }

.discord-login {
  cursor: pointer;
  background: #7289DA;
  text-align: center;
  width: auto;
  border-radius: 0 0 2px 2px;
  position: absolute;
  top: 0px;
  right: 100px;
  padding: 5px;
  font-family: 'helvetica';
  color: white; }

.selected-arrow {
  color: orange;
  text-shadow: 0 0 3px #FF0000; }

.levelLink {
  color: #45A29E; }
  .levelLink:hover {
    color: #66FCF1;
    text-decoration: none; }

.NavButton {
  color: white; }
  .NavButton:hover {
    color: white;
    text-decoration: none; }

.clock-container {
  text-align: center; }

.header-row {
  text-align: center; }

.submission {
  border: 2px;
  border-color: #202368;
  background: #D4D3E1;
  border-radius: 3px;
  margin-bottom: 5px;
  padding: 5px;
  height: 75px;
  text-align: center;
  border-style: solid; }

.submissionsList {
  max-width: 1000px;
  margin: 0 auto; }

.error {
  color: red;
  position: absolute;
  bottom: 10px;
  padding-right: 100px; }

.submit-box {
  width: 450px;
  height: 300px;
  padding: 5px; }

.input-group {
  padding: 5px; }

.Modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  background-color: white;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  color: black;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  border-radius: 5px; }

.big-modal {
  height: 470px;
  padding: 10px; }

.modalClose {
  top: 10px;
  right: 10px;
  position: absolute;
  cursor: pointer; }

.timeBox {
  background: #D4D3E1;
  border-radius: 5px;
  height: auto;
  padding: 5px;
  text-align: center;
  margin: 10px;
  border: 2px #C5C6C7;
  font-size: 50px;
  width: 100px; }

.timeTitle {
  font-size: 20px; }

.pull-right-down {
  right: 10px;
  bottom: 10px;
  position: absolute; }

.first {
  color: #dbcd07 !important;
  font-size: 36px;
  font-weight: 500 !important; }

.second {
  color: #8a9cafd3 !important;
  font-weight: 450 !important;
  font-size: 30px !important; }

.third {
  color: #836f00 !important;
  font-weight: 450 !important;
  font-size: 24px; }

.other {
  color: #212529 !important;
  font-weight: 350 !important;
  font-size: 18px; }
