
$background: #0B0C10;
$secondaryBackgorund: #1F2833;
$grey: #C5C6C7;

$primaryBlue: #66FCF1;
$secondaryBlue: #45A29E;

.selected-arrow {
  color: orange;
  text-shadow: 0 0 3px #FF0000;
}

.levelLink {
  color: $primaryBlue;
  &:hover {
    color: $secondaryBlue;
    text-decoration: none;
  }
}

.NavButton {
  color: white
}

.submission {
  border: 5px;
  border-color: $secondaryBlue;
  background: $secondaryBackgorund;
  border-radius: 3px;
  margin: 5px;
  height: 75px;
  border-style: solid;
}

.submissionsList {
  max-width: 1000px;
  margin: 0 auto;
  
}

.error {
  color: red;
  position: absolute;
  bottom: 10px;
  padding-right: 100px;
}

.Modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  background-color: $secondaryBackgorund;
  color: $grey;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
}

.modalClose {
  top:10px;
  right:10px;
  position: absolute;
  cursor: pointer;
}

.timeBox {
  background: $secondaryBlue;
  border-radius: 5px;
  height: auto;
  width: auto;
  padding: 5px;
  text-align: center;
  margin: 5px;
  border: 2px $grey;
}

.pull-right-down {
  right: 10px;
  bottom: 10px;
  position: absolute;
}


