
$bar-fill: rgb(164, 140, 190);
$bar-border: rgb(164, 140, 190);
//$background
//rgb(164, 140, 190)
.score-bar1 {
    width: 100px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.025), rgba(0, 0, 0, 0.025), $bar-fill);
    border: 2px $bar-border solid;
    border-radius: 2px;
    //box-shadow: 5px 0px 5px rgba(0, 0, 0, .15);
    animation-duration: 4s;
    animation-name: raise;
    animation-fill-mode: forwards;
    text-align: center;
    overflow: hidden;
    margin: auto;
}
.score-bar2 {
    width: 100px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.025), rgba(0, 0, 0, 0.025), $bar-fill);
    //box-shadow: 5px 0px 5px rgba(0, 0, 0, .15);
    border: 2px $bar-border solid;
    border-radius: 2px;
    animation-duration: 4s;
    animation-name: raise2;
    animation-fill-mode: forwards;
    text-align: center;
    overflow: hidden;
    margin: auto;
}


.score-bar3 {
    width: 100px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.025), rgba(0, 0, 0, 0.025), $bar-fill);
    border-radius: 2px;
    //box-shadow: 5px 0px 5px rgba(0, 0, 0, .15);
    border: 2px $bar-border solid;
    animation-duration: 4s;
    animation-name: raise3;
    animation-fill-mode: forwards;
    text-align: center;
    overflow: hidden;
    margin: auto;
}

.backgroundBar {
    height: 9px;
    padding:2px;
    margin-top: 5px;
    border-radius: 3px;
    background-color: black;
}

.pointsBar {
    height: 5px;
    
    background-color: greenyellow;
}

.winner-box {
    height: 350px;
    position: relative;
}


.first-award {
    color: #dbcd07 !important;
    font-weight: 500 !important;
    font-size: 50px !important;
    overflow: hidden;
    //
  }
  
  .second-award {
    color: #8a9cafd3 !important;
    font-weight: 500 !important;
    font-size: 36px !important;
    overflow: hidden;
    //
  }
  
  .third-award {
    color: #836f00 !important;
    font-weight: 500 !important;
    font-size: 36px !important;
    overflow: hidden;
    //
  }



@keyframes raise {
    from {height: 0px;}
    to {height: 125px}
}

@keyframes raise2 {
    from {height: 0px;}
    to {height: 200px}
}

@keyframes raise3 {
    from {height: 0px;}
    to {height: 75px}
}

.winner-text {
    font-weight: 800 !important;
    font-size: 4rem !important;
}

.tpy-1 {
    text-align: center;
    position: absolute;
    bottom:0;
    left: 10%;
    width: 250px;
}


.tpy-2 {
    text-align: center;
    position: absolute;
    bottom:0;
    left: 37%;
    width: 250px;
}

.tpy-3 {
    text-align: center;
    position: absolute;
    bottom:0;
    left: 64%;
    width: 250px;
}

.race-winner-text {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    overflow-x: visible;
}

.race-bookmark {
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 25px;
}

.podium-base {
    margin-left: 10%;
    width: 80%;
    height: 50px;
    background-color: $bar-border;
}