.th {
  font-weight: bold;
  font-size: 1.75rem;
  padding: .75rem;
  background-color: white;
  color: black; }

.td {
  font-size: 1.5rem;
  margin: auto;
  color: black; }

.tr {
  height: 80px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.025), rgba(0, 0, 0, 0.05));
  margin-bottom: 5px;
  border: 1px gray solid;
  border-radius: 5px; }

.center {
  text-align: center; }

.tr:hover {
  transition: .15s ease-in;
  color: white;
  background-color: #5d61d1; }

.center-text {
  padding-top: .75rem; }

.entrant-text {
  position: absolute;
  bottom: 20px; }

.first-race {
  color: #dbcd07;
  font-size: 3.25rem;
  font-weight: 700; }

.first-race-text {
  color: #dbcd07;
  font-size: 2rem;
  font-weight: 700; }

.second-race {
  color: #8a9cafd3;
  font-weight: 700;
  font-size: 2.75rem; }

.second-race-text {
  color: #8a9cafd3;
  font-weight: 500;
  font-size: 1.5rem; }

.third-race {
  color: #836f00;
  font-weight: 500;
  font-size: 2.75rem; }

.third-race-text {
  color: #836f00;
  font-weight: 500;
  font-size: 1.5rem; }

.other-race {
  color: #212529;
  font-weight: 500;
  font-size: 2rem; }

.other-race-text {
  color: #212529;
  font-weight: 400;
  font-size: 1.5rem; }

.fill-col {
  height: 100%;
  width: 100%; }

.medal-col {
  background-image: linear-gradient(rgba(0, 0, 0, 0.025), rgba(0, 0, 0, 0.025), rgba(0, 0, 0, 0.025));
  height: 100%;
  width: 100%; }

.medal-col-2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.035), rgba(0, 0, 0, 0.025), rgba(0, 0, 0, 0.035));
  height: 100%;
  width: 100%; }

.medal-text {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }
