.submission-row {
  background-color: white;
}
.submission-header {
  background-color: white;
}

.submission-container{
  width: 100%;
}

.table tr:nth-child(n+1):hover {
  // background-color: #595b7c;
  transition: .15s ease-in;
  color: white;
  background-color: orange;
}

.table tr {
  // display: flex;
  align-content: center;
}
