.submission-row {
  background-color: white; 
}

.scheduled-row {
  background-color: darkgray !important;
  color: white;
}

.submission-row td {
  height: 70px !important;
}

.submission-row td:nth-child(n+2) {
  padding-top: 1.5em !important;
}

.submission-header {
  background-color: white; 
}

.submission-container {
  width: 100%; }

.table tr:nth-child(n+1):hover {
  transition: .15s ease-in;
  color: white;
  background-color: #5d61d1; 
}

.table tr {
  align-content: center; }
