.th {
    font-weight: bold;
    font-size: 30px;
    border-bottom: 2px solid #dee2e6;
    padding: .75rem;
    background-color: white; 
}


.td {
    font-size: 20px;
    border-bottom: 2px solid #dee2e6;
    padding: 1rem .75rem .75rem .75rem;
    background-color: white; 
}

.tr:hover .td {
    transition: .15s ease-in;
    color: white;
    background-color: #5d61d1;
}

.center-text {
    padding-top: .75rem;
}